* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: black;

}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
.container{
    display:inline-flex;
    width: 100%;
    padding: 20px;
}
.main {
    width: 70%;
}
aside {
    width: 30%;
}
.input-search {
    border: 1px solid gray;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.input-button {
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: blue;
    border: none;
}
.icon {
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
    
    .Username path {
      stroke-dasharray: 73.50196075439453;
      stroke-dashoffset: 73.50196075439453;
      animation: animatePath 2s 0.5s forwards;
    }
    .pass path {
      stroke-dasharray: 92.10662841796875;
      stroke-dashoffset: 92.10662841796875;
      animation: animatePath 2s 0.5s forwards;
    }
  }
}
